* @casassg

# Core team for reviews of project proposals and main distribution files
/proposals/ @casassg [tfxa:proposals]

/project1/ @cent5 [project1]
/project2/ @codesue [project2]

# CI configuration (for now owned by @casassg)
/.github/workflows/ @casassg [CI]



